{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Блог {{ blog.slug }}</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
                </div>
                <h5 class="fs-2 text-body-emphasis">{{ blog.title|title }}</h5>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <img class="card-img-top"
                         src="{{ blog.image | media_tag}}"
                         alt="Card image cap">
                </ul>
                <p>{{ blog.body}}</p>
            </div>
        </div>
    </div>
{% endblock %}