{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 p-3">
        {% for blog in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="text-center">
                        <h1>{{ blog.title }}</h1>
                    </div>
                    <img class="card-img-top img-fluid img-thumbnail"
                        src="{{ blog.image | media_tag}}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">{{ blog.body | truncatechars:50}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'blog:detail' blog.pk %}">
                                    <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                                </a>
                                <a href="{% url 'blog:edit' blog.pk %}">
                                    <button type="button" class="btn btn-sm btn-outline-primary">Edit</button>
                                </a>
                                <a href="{% url 'blog:delete' blog.pk %}">
                                    <button type="button" class="btn btn-sm btn-outline-primary">Del</button>
                                </a>
                            </div>
                            <small class="text-body-secondary">Просмотры: {{ blog.views_count}}</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
